/* boh */
body {
    width: 750px;
    font-family: sans-serif;
}
.form-table {
    width: 520px;
}
.news-table {
    border: 1px blue solid;
    width: 180px;
    display: inline-block;
    float:right;

}
.news-table th {
    background-color: blue;
    color: white;
    font-variant: small-caps;
    text-align: left;
}
header {
    border: 1px blue solid;
    height: 90px;
    width: 750px;
    background: url('clouds.jpg');
}

footer {
    color: white;
    background-color: blue;
    text-align: center;
}

#image{
    width: 500px;
    height: 200px;
    display: inline-block;
    float:left;
}
